{snippet}
    {control $presenter['flashes']}

    {control form}

    <div class="alert alert-info">
        <p>
            V obsahu môžete používať nasledovné premenné: <samp><b>{l}$name{r}</b></samp>, <samp><b>{l}$email{r}</b></samp>, <samp><b>{l}$phone{r}</b></samp> a <samp><b>{l}$message{r}</b></samp>
        </p>
    </div>
{/snippet}