{control $presenter['flashes']}

<form class="form-horizontal" n:name="form">
    <div class="row form-group">

    </div>

    <div class="row form-group">
        <div class="col-md-6 col-sm-12">
            {label name, class => "sr-only" /}
            {input name, class => "form-control", placeholder => "Name"}
        </div>

        <div class="col-md-6 col-sm-12">
            {label email, class => "sr-only" /}
            {input email, class => "form-control", placeholder => "@"}
        </div>

        {*
        <div class="col-md-4 col-sm-12">
            {label phone, class => "sr-only" /}
            {input phone, class => "form-control", placeholder => "Telefón"}
        </div>
        *}
    </div>

    <div class="row form-group">
        <div class="col-md-12">
            {input message, class => "form-control", rows => 5, placeholder => "Message"}
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-12 text-right">
            <button class="btn btn-tome" n:name="send">Send message</button>
        </div>
    </div>
</form>